[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
watchdog = "*"
requests = "*"
flask-socketio = "*"
eventlet = "*"
pyzmq = "*"
pyinstaller = "*"
flaskwebgui = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.7"
