<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ED Scout {{ version }}</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <style>
        body {
            background-color:black;
            font: 20px Eurostile, sans-serif;
            text-transform: uppercase;
        }

        .system {
            margin-top: 1px;
            margin-bottom: 1px;
            padding-left: 10px;
            text-shadow: 0px 0px 3px;
            margin-left: 1px;
            margin-right: 1px;
        }
        .charted {
            color: #9f9f9f;
            background: #333333;
        }
        .uncharted {
            color: #EAA529;
            background: #370C03;
        }
        .statusInfo {
            color: #EAA529;
            background: #370C03;
        }
        .highlighted {
            color: #370C03;
            background: #F5A804;
        }

        .currentSystemHighlight {
            background: #0F0;
        }

        .current_location {
            border-style: dotted;
            border-color: #17EFF9;
            border-width: 1px;
        }

        .separator {
            color: #F5A804;
            border-color: #F5A804;
            border-width: 1px 0px 1px 0px;
            text-shadow: 0px 0px 3px;
        }
    </style>
</head>

<body>


    <button id="simulate-startup">Simulate startup</button>
    <button id="new-route-1">New route</button>
    <button id="target-first">Target First System</button>
    <button id="target-last">Target Last System</button>
    <button id="start-jump">Start Jump</button>
    <button id="finish-jump">Finish Jump</button>

    <div class="container">
        <div class="row separator align-items-center">
            <div class="col"><hr class="separator"/></div>
            <div class="col-auto">Current System</div>
            <div class="col"><hr class="separator"/></div>
        </div>
    </div>

    <div class="container statusInfo">
        <div id="location" data-currentSystem="" class="row align-items-center">
            <div class="col system highlighted text-center">Unknown</div>
        </div>
    </div>

    <div class="container">
        <div class="row separator align-items-center">
            <div class="col"><hr class="separator"/></div>
            <div class="col-auto">Next System</div>
            <div class="col"><hr class="separator"/></div>
        </div>
    </div>

    <div class="container statusInfo">
        <div id="target-sys" data-target-sys="" class="row align-items-center">
            <div class="col system highlighted text-center">Waiting for nav data...</div>
        </div>
    </div>

    <div class="container">
        <div class="row separator align-items-center">
            <div class="col"><hr class="separator"/></div>
            <div class="col-auto" id="nav-route-label">Nav Route</div>
            <div class="col"><hr class="separator"/></div>
        </div>
    </div>

    <div id="nav-route" class="container">
        <div class="row">
            <div class="col system highlighted text-center">Waiting for nav data...</div>
        </div>
    </div>

    <div class="container">
        <div class="row separator align-items-center">
            <div class="col"><hr class="separator"/></div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>
    <script>



        (function init() {



            function setCurrentSystem(systemId, systemName) {
                let locationElement = document.getElementById('location');
                locationElement.innerHTML = "Location: "+systemName;
                locationElement.setAttribute('data-currentSystem', systemId)
            }

            function setTargetSystem(systemId, systemName) {
                let locationElement = document.getElementById('target-sys');
                let previousTarget = null;
                if (locationElement.hasAttribute('data-targetSystem'))
                {
                    previousTarget = locationElement.getAttribute('data-targetSystem')
                    console.log("previously highlighted: "+previousTarget)
                }
                locationElement.innerText = "FSD Target: "+systemName;
                locationElement.setAttribute('data-targetSystem', systemId.toString());

                // Un-highlight the current target.
                if ((previousTarget != null))
                {
                    document.getElementById(previousTarget).classList.remove("currentSystemHighlight");
                }

                // Highlight the new target.
                let systemEntryToHighlight = document.getElementById(systemId);
                systemEntryToHighlight.classList.add("currentSystemHighlight");
            }

            function startJumpTo(systemId, systemName) {
                let locationElement = document.getElementById('location');
                locationElement.innerHTML = "Location: Hyperspace to "+systemName
            }

            function createSystemEntry(systemInfo) {
                let row = document.createElement('div');
                row.classList.add("row");
                row.id = systemInfo.SystemAddress;
                let chartedSpecificStyle = systemInfo.charted?"charted":"uncharted";
                let mappedValue = systemInfo.charted?systemInfo.estimatedValueMapped:"?";

                let starClass = document.createElement('div');
                starClass.classList.add("col-1", "system", chartedSpecificStyle,"text-center");
                starClass.innerText = systemInfo.StarClass;

                let systemName = document.createElement('div');
                systemName.classList.add("col", "system", chartedSpecificStyle);
                systemName.innerText = systemInfo.StarSystem;

                let systemValue = document.createElement('div');
                systemValue.classList.add("col-3", "system", chartedSpecificStyle, "text-center");
                systemValue.innerText = systemInfo.estimatedValueMapped;

                row.innerHTML = starClass.outerHTML+systemName.outerHTML+systemValue.outerHTML;

                return row;
            }

            function createBodyEntry(body) {
                let row = document.createElement('div');
                row.classList.add("row");

                let spacer = document.createElement('div');
                spacer.classList.add("col-1", "system");

                let planetSymbol = document.createElement('div');
                planetSymbol.classList.add("col-1", "system", "charted", "text-center");
                planetSymbol.innerText = "P";

                let bodyName = document.createElement('div');
                bodyName.classList.add("col", "system", "charted");
                bodyName.innerText = body.bodyName;

                let bodyValue = document.createElement('div');
                bodyValue.classList.add("col-3", "system", "charted", "text-center");
                bodyValue.innerText = body.valueMax;

                row.innerHTML = spacer.outerHTML+planetSymbol.outerHTML+bodyName.outerHTML+bodyValue.outerHTML;

                return row;
            }

            var navRouteContainer = document.getElementById('nav-route')
            //const isFirstElemnth = loggerElement.childElementCount === 0

            function postData(payload) {
                console.log(payload);
                if (payload.data.type === 'NewRoute')
                {
                    console.log('Clearing')
                    navRouteContainer.innerHTML = ''
                }
                else if (payload.data.type === 'JournalEntry')
                {
                    if (payload.data.event === "FSDTarget")
                    {
                        setTargetSystem(payload.data.SystemAddress, payload.data.StarSystem);
                        /*
                        <---------- todo;
                            lookup current 'data-currentSystem' and clear the highlighting of it.
                            set data-currentSystem for current location
                            If a matching system is in the DOM, highlight it instead.
                            Then we just need some clear means of indicating what is current vs targetted vs jumpnig systems
                            Sould also show how many jumps left
                        */
                    }
                    else if (payload.data.event === "Location")
                    {
                        setCurrentSystem(payload.data.SystemAddress, payload.data.StarSystem);
                    }
                    else if (payload.data.event === "StartJump") // When 3..2..1 starts
                    {
                        var loggerElement1 = document.getElementById('location')
                        loggerElement1.innerHTML = "Starting jump to: "+payload.data.StarSystem
                    }
                    else if (payload.data.event === "FSDJump") // When you drop out of hyperspace
                    {
                        setCurrentSystem(payload.data.SystemAddress, payload.data.StarSystem);
                    }
                }
                else
                {
                    let systemInfo = payload.data;

                    let systemEntry = document.createElement('div');
                    systemEntry.innerHTML = createSystemEntry(systemInfo).outerHTML;
                    navRouteContainer.appendChild(systemEntry)

                    if (systemInfo.valuableBodies)
                    {
                        console.log("valuableBodies: "+systemInfo.valuableBodies);
                        let body;
                        for (body of systemInfo.valuableBodies)
                        {
                            console.log(body);
                            let dataElement2 = createBodyEntry(body);
                            navRouteContainer.appendChild(dataElement2)
                        }
                    }
                }
            }

            var enableBackendConnections = true;

            // Uncomment to debug without needing the backend
            /**/

            const exampleData =[
                {'StarSystem': 'Sifeae EH-C c13-3', 'SystemAddress': 913385362290, 'StarPos': [2899.96875, 206.34375, 801.6875], 'StarClass': 'K', 'id': 55216390, 'id64': 913385362290, 'name': 'Sifeae EH-C c13-3', 'url': 'https://www.edsm.net/en/system/bodies/id/55216390/name/Sifeae+EH-C+c13-3', 'estimatedValue': 112130, 'estimatedValueMapped': 368117, 'valuableBodies': [{'bodyId': 226907740, 'bodyName': 'Sifeae EH-C c13-3 A 1', 'distance': 1250, 'valueMax': 365696}], 'charted': true},
                {'StarSystem': 'Pro Eurl YJ-Q d5-18', 'SystemAddress': 629388954035, 'StarPos': [2035.6875, 381.59375, 739.6875], 'StarClass': 'F', 'id': 55108083, 'id64': 629388954035, 'name': 'Pro Eurl YJ-Q d5-18', 'url': 'https://www.edsm.net/en/system/bodies/id/55108083/name/Pro+Eurl+YJ-Q+d5-18', 'estimatedValue': 39863, 'estimatedValueMapped': 127197, 'valuableBodies': [], 'charted': true},
                {'StarSystem': 'Pro Eurl DV-E c12-2', 'SystemAddress': 637098300266, 'StarPos': [2083.0, 374.71875, 748.09375], 'StarClass': 'K', 'charted': false}]

            const locationData =
                {"timestamp":"2020-08-08T23:07:06Z", "event":"Location", "Docked":false, "StarSystem":"Sifeae EH-C c13-3", "SystemAddress":913385362290, 'StarPos': [2899.96875, 206.34375, 801.6875], "SystemAllegiance":"", "SystemEconomy":"$economy_None;", "SystemEconomy_Localised":"None", "SystemSecondEconomy":"$economy_None;", "SystemSecondEconomy_Localised":"None", "SystemGovernment":"$government_None;", "SystemGovernment_Localised":"None", "SystemSecurity":"$GAlAXY_MAP_INFO_state_anarchy;", "SystemSecurity_Localised":"Anarchy", "Population":0, "Body":"V447 Lacertae", "BodyID":0, "BodyType":"Star" };

            const fsdTargetDataFirst =
                {"timestamp":"2020-08-08T23:07:12Z", "event":"FSDTarget", "Name":"Pro Eurl YJ-Q d5-18", "SystemAddress":629388954035, "StarClass":"F", "RemainingJumpsInRoute":1 };
            const fsdTargetDataLast =
                {"timestamp":"2020-08-08T23:07:12Z", "event":"FSDTarget", "Name":"Pro Eurl DV-E c12-2", "SystemAddress":637098300266, "StarClass":"F", "RemainingJumpsInRoute":0 };

            const startJumpData =
                { "timestamp":"2020-08-08T23:09:43Z", "event":"FSDTarget", "Name":"Pro Eurl YJ-Q d5-18", "SystemAddress":629388954035, "StarClass":"F", "RemainingJumpsInRoute":1 };

            const finishJumpData =
                { "timestamp":"2020-08-08T23:09:55Z", "event":"FSDJump", "StarSystem":"Pro Eurl YJ-Q d5-18", "SystemAddress":629388954035, "StarPos":[25.06250,13.53125,19.93750], "SystemAllegiance":"", "SystemEconomy":"$economy_None;", "SystemEconomy_Localised":"None", "SystemSecondEconomy":"$economy_None;", "SystemSecondEconomy_Localised":"None", "SystemGovernment":"$government_None;", "SystemGovernment_Localised":"None", "SystemSecurity":"$GAlAXY_MAP_INFO_state_anarchy;", "SystemSecurity_Localised":"Anarchy", "Population":0, "Body":"Core Sys Sector ON-T b3-5 A", "BodyID":2, "BodyType":"Star", "JumpDist":51.088, "FuelUsed":7.591439, "FuelLevel":24.408562 };

            function PostEntry(type, entryContent) {
                let wrap = {'data': {'type': type}};
                wrap.data = $.extend(true, {}, wrap.data, entryContent);
                postData(wrap);
            }

            function PostJournalEntry(entryContent) {
                PostEntry('JournalEntry', entryContent);
            }

            document.getElementById("simulate-startup").onclick = function fun() {
                PostJournalEntry(locationData);
            }

            document.getElementById("new-route-1").onclick = function fun() {
                postData({'data':{'type':'NewRoute'}});
                let data;
                for (data of exampleData)
                {
                    PostEntry('System', data);
                }

                PostJournalEntry(fsdTargetDataFirst);
            }

            document.getElementById("target-first").onclick = function fun() {
                PostJournalEntry(fsdTargetDataFirst);
            }

            document.getElementById("target-last").onclick = function fun() {
                PostJournalEntry(fsdTargetDataLast);
            }

            document.getElementById("start-jump").onclick = function fun() {
                PostJournalEntry(startJumpData);
            }

            document.getElementById("finish-jump").onclick = function fun() {
                PostJournalEntry(finishJumpData);
            }


            enableBackendConnections = false;

            /**/

            if (enableBackendConnections) {
                var socket = io()
                socket.on('log', postData)

                document.addEventListener('DOMContentLoaded', function() {
                    var url = 'http://127.0.0.1:5001/GUI-is-still-open';
                    fetch(url, { mode: 'no-cors'});
                    setInterval(function(){ fetch(url, { mode: 'no-cors'});}, 5000);
                });
            }

        })()
    </script>
</body>

</html>