<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ED Scout {{ version }}</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <style>
        body {
            background-color:black;
            font: 20px Eurostile, sans-serif;
            text-transform: uppercase;
        }

        .system {
            margin-top: 1px;
            margin-bottom: 1px;
            padding-left: 10px;
            text-shadow: 0px 0px 3px;
            margin-left: 1px;
            margin-right: 1px;
        }
        .charted {
            color: #9f9f9f;
            background: #333333;
        }
        .uncharted {
            color: #EAA529;
            background: #370C03;
        }

        .hyperspace {
            color: #0026FF;
        }
        .statusInfo {
            color: #EAA529;
            background: #370C03;
        }
        .highlighted {
            color: #370C03;
            background: #F5A804;
        }

        .currentSystemHighlight {
            background: #17EFF9;
        }

        .current_location {
            border-style: dotted;
            border-color: #17EFF9;
            border-width: 1px;
        }

        .separator {
            color: #F5A804;
            border-color: #F5A804;
            border-width: 1px 0px 1px 0px;
            text-shadow: 0px 0px 3px;
        }

        .next-system {
            color: #17EFF9;
        }
        .next-system hr {
            border-color: #17EFF9;
        }
    </style>
</head>

<body>

<!-- --
    <button id="simulate-startup">Simulate startup</button>
    <button id="new-route-1">New route</button>
    <button id="target-first">Target First System</button>
    <button id="target-last">Target Last System</button>
    <button id="start-jump">Start Jump</button>
    <button id="finish-jump">Finish Jump</button>
<!--    -->

    <div class="container">
        <div class="row separator align-items-center">
            <div class="col"><hr class="separator"/></div>
            <div class="col-auto">Current Location</div>
            <div class="col"><hr class="separator"/></div>
        </div>
    </div>

    <div id="location" data-currentSystem="" class="container">
        <div class="row align-items-center statusInfo">
            <div class="col system highlighted text-center">Unknown</div>
        </div>
    </div>

    <div class="container">
        <div class="row separator align-items-center">
            <div class="col next-system"><hr class="separator"/></div>
            <div class="col-auto next-system">Next System</div>
            <div class="col next-system"><hr class="separator"/></div>
        </div>
    </div>

    <div id="target-sys" data-target-sys="" class="container statusInfo">
        <div class="row align-items-center">
            <div class="col system highlighted text-center">Waiting for nav data...</div>
        </div>
    </div>

    <div class="container">
        <div class="row separator align-items-center">
            <div class="col"><hr class="separator"/></div>
            <div class="col-auto" id="nav-route-label">Nav Route</div>
            <div class="col"><hr class="separator"/></div>
        </div>
    </div>

    <div id="nav-route" class="container">
        <div class="row">
            <div class="col system highlighted text-center">Waiting for nav data...</div>
        </div>
    </div>

    <div class="container">
        <div class="row separator align-items-center">
            <div class="col"><hr class="separator"/></div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>
    <script>



        (function init() {


            function removeSystemFromNavList(systemId) {
                // Remove the system from the nav list
                let systemElement = document.getElementById(systemId);
                if (systemElement)
                {
                    systemElement.remove();
                }

                // Remove any valuable bodies too.
                let bodiesToRemove = document.querySelectorAll("[associatedSystem='"+systemId+"']");
                let bodyElement;
                for (bodyElement of bodiesToRemove)
                {
                    bodyElement.remove();
                }
            }


            function setCurrentSystem(systemInfo) {
                console.log("Setting current");

                const systemId = systemInfo.SystemAddress;
                removeSystemFromNavList(systemId);

                let locationElement = document.getElementById('location');
                locationElement.innerHTML = "";
                locationElement.setAttribute('data-currentSystem', systemId);
                locationElement.appendChild(createSystemEntry(systemInfo));
            }

            function getCurrentSystem() {
                let locationElement = document.getElementById('location');
                if (locationElement.hasAttribute('data-currentSystem')) {
                    return locationElement.getAttribute('data-currentSystem');
                }
                else {
                    return null;
                }
            }

            function getCurrentlySelectedSystemElement()
            {
                let currentTarget = null;
                let locationElement = document.getElementById('target-sys');
                if (locationElement.hasAttribute('data-targetSystem'))
                {
                    currentTarget = locationElement.getAttribute('data-targetSystem')
                }
                return currentTarget;
            }

            function highlightTargetSystemInNavList(systemId)
            {
                let systemEntryToHighlight = document.getElementById(systemId);
                if (systemEntryToHighlight)
                {
                    systemEntryToHighlight.classList.add("currentSystemHighlight");
                }
            }

            function setTargetSystem(data) {
                console.log("Setting target system")
                let systemId = data.SystemAddress
                let systemName = data.Name;

                // Un-highlight the current target.
                let previousTarget = getCurrentlySelectedSystemElement();
                if (previousTarget != null)
                {
                    let currentTargetInNavList = document.getElementById(previousTarget);
                    if (currentTargetInNavList != null)
                    {
                        currentTargetInNavList.classList.remove("currentSystemHighlight");
                    }
                }

                // Highlight the new target.
                highlightTargetSystemInNavList(systemId)

                // Record some data about this target so we can check it easily later
                let locationElement = document.getElementById('target-sys');
                locationElement.innerHTML = "";
                locationElement.setAttribute('data-targetSystem', systemId.toString());

                let chartedSpecificStyle = "uncharted";
                let mappedValue = "?";

                let starClass = document.createElement('div');
                starClass.classList.add("col-1", "system", chartedSpecificStyle,"text-center");
                starClass.innerText = data.StarClass?data.StarClass:"";

                let systemNameElement = document.createElement('div');
                systemNameElement.classList.add("col", "system", chartedSpecificStyle);
                systemNameElement.innerText = systemName;

                let systemValue = document.createElement('div');
                systemValue.classList.add("col-3", "system", chartedSpecificStyle, "text-center");
                systemValue.innerText = mappedValue;

                let row = document.createElement('div');
                row.innerHTML = starClass.outerHTML+systemNameElement.outerHTML+systemValue.outerHTML;
                row.classList.add("row");
                locationElement.appendChild(row);
            }

            function startJumpTo(systemId, systemName) {
                console.log("Starting jump")

                // Clear the current location as we're now jumping
                let locationElement = document.getElementById('location');

                let content = document.createElement('div');
                content.classList.add("col","text-center", "highlighted");
                content.innerText = ">> Hyperspace <<";

                let row = document.createElement('div');
                row.classList.add("row");
                row.appendChild(content);

                locationElement.innerHTML = "";
                locationElement.appendChild(row);
            }

            function createSystemEntry(systemInfo) {
                let row = document.createElement('div');
                row.classList.add("row");
                row.id = systemInfo.SystemAddress;
                let chartedSpecificStyle = systemInfo.charted?"charted":"uncharted";
                let mappedValue = systemInfo.charted?systemInfo.estimatedValueMapped:"?";

                let starClass = document.createElement('div');
                starClass.classList.add("col-1", "system", chartedSpecificStyle,"text-center");
                starClass.innerText = systemInfo.StarClass?systemInfo.StarClass:"";

                let systemName = document.createElement('div');
                systemName.classList.add("col", "system", chartedSpecificStyle);
                systemName.innerText = systemInfo.StarSystem;

                let systemValue = document.createElement('div');
                systemValue.classList.add("col-3", "system", chartedSpecificStyle, "text-center");
                systemValue.innerText = mappedValue;

                row.innerHTML = starClass.outerHTML+systemName.outerHTML+systemValue.outerHTML;

                return row;
            }

            function createBodyEntry(body, systemId) {

                let spacer = document.createElement('div');
                spacer.classList.add("col-1", "system");

                let planetSymbol = document.createElement('div');
                planetSymbol.classList.add("col-1", "system", "charted", "text-center");
                planetSymbol.innerText = "P";

                let bodyName = document.createElement('div');
                bodyName.classList.add("col", "system", "charted");
                bodyName.innerText = body.bodyName;

                let bodyValue = document.createElement('div');
                bodyValue.classList.add("col-3", "system", "charted", "text-center");
                bodyValue.innerText = body.valueMax;

                let row = document.createElement('div');
                row.classList.add("row");
                row.innerHTML = spacer.outerHTML+planetSymbol.outerHTML+bodyName.outerHTML+bodyValue.outerHTML;
                row.setAttribute('data-associatedSystem', systemId);

                return row;
            }

            function finishJump(data)
            {
                console.log("Finished jump");

                // Update the current system
                setCurrentSystem(data);
            }

            var navRouteContainer = document.getElementById('nav-route')

            function postData(payload) {
                console.log(payload);
                if (payload.data.type === 'NewRoute') {
                    console.log('Clearing');
                    navRouteContainer.innerHTML = '';
                }
                else if (payload.data.type === 'JournalEntry') {
                    if (payload.data.event === "FSDTarget") // When you set a new jump target in the galaxy map
                    {
                        setTargetSystem(payload.data);
                    }
                    else if (payload.data.event === "Location") {
                        setCurrentSystem(payload.data);
                    }
                    else if (payload.data.event === "StartJump") // When 3..2..1 starts
                    {
                        startJumpTo(payload.data.SystemAddress, payload.data.StarSystem);
                    }
                    else if (payload.data.event === "FSDJump") // When you drop out of hyperspace
                    {
                        finishJump(payload.data);
                    }
                }
                else {
                    // We're assuming this is a system info entry
                    let systemInfo = payload.data;
                    let systemId = systemInfo.SystemAddress.toString();

                    let container;
                    if (getCurrentSystem() === systemId) {
                        // This is the current system so we want to update that instead of the nav route
                        container = document.getElementById('location');
                        container.innerHTML = '';
                    }
                    else {
                        // This is not the current system so we want to update the nav route
                        container = navRouteContainer;
                    }

                    container.appendChild(createSystemEntry(systemInfo));

                    let currentTarget = getCurrentlySelectedSystemElement();
                    if (currentTarget === systemId) {
                        highlightTargetSystemInNavList(systemId);
                    }

                    if (systemInfo.valuableBodies) {
                        let body;
                        for (body of systemInfo.valuableBodies) {

                            console.log(body);
                            container.appendChild(createBodyEntry(body, systemId));
                        }
                    }
                }
            }

            var enableBackendConnections = true;

            // Uncomment to debug without needing the backend
            /**

            const exampleData =[
                {'StarSystem': 'Sifeae EH-C c13-3', 'SystemAddress': 913385362290, 'StarPos': [2899.96875, 206.34375, 801.6875], 'StarClass': 'K', 'id': 55216390, 'id64': 913385362290, 'name': 'Sifeae EH-C c13-3', 'url': 'https://www.edsm.net/en/system/bodies/id/55216390/name/Sifeae+EH-C+c13-3', 'estimatedValue': 112130, 'estimatedValueMapped': 368117, 'valuableBodies': [{'bodyId': 226907740, 'bodyName': 'Sifeae EH-C c13-3 A 1', 'distance': 1250, 'valueMax': 365696}], 'charted': true},
                {'StarSystem': 'Pro Eurl YJ-Q d5-18', 'SystemAddress': 629388954035, 'StarPos': [2035.6875, 381.59375, 739.6875], 'StarClass': 'F', 'id': 55108083, 'id64': 629388954035, 'name': 'Pro Eurl YJ-Q d5-18', 'url': 'https://www.edsm.net/en/system/bodies/id/55108083/name/Pro+Eurl+YJ-Q+d5-18', 'estimatedValue': 39863, 'estimatedValueMapped': 127197, 'valuableBodies': [], 'charted': true},
                {'StarSystem': 'Pro Eurl DV-E c12-2', 'SystemAddress': 637098300266, 'StarPos': [2083.0, 374.71875, 748.09375], 'StarClass': 'K', 'charted': false}]

            const locationData =
                {"timestamp":"2020-08-08T23:07:06Z", "event":"Location", "Docked":false, "StarSystem":"Sifeae EH-C c13-3", "SystemAddress":913385362290, 'StarPos': [2899.96875, 206.34375, 801.6875], "SystemAllegiance":"", "SystemEconomy":"$economy_None;", "SystemEconomy_Localised":"None", "SystemSecondEconomy":"$economy_None;", "SystemSecondEconomy_Localised":"None", "SystemGovernment":"$government_None;", "SystemGovernment_Localised":"None", "SystemSecurity":"$GAlAXY_MAP_INFO_state_anarchy;", "SystemSecurity_Localised":"Anarchy", "Population":0, "Body":"V447 Lacertae", "BodyID":0, "BodyType":"Star" };

            const fsdTargetDataFirst =
                {"timestamp":"2020-08-08T23:07:12Z", "event":"FSDTarget", "Name":"Pro Eurl YJ-Q d5-18", "SystemAddress":629388954035, "StarClass":"F", "RemainingJumpsInRoute":1 };
            const fsdTargetDataLast =
                {"timestamp":"2020-08-08T23:07:12Z", "event":"FSDTarget", "Name":"Pro Eurl DV-E c12-2", "SystemAddress":637098300266, "StarClass":"F", "RemainingJumpsInRoute":0 };

            const startJumpData =
                { "timestamp":"2020-08-08T23:08:14Z", "event":"StartJump", "JumpType":"Hyperspace", "StarSystem":"Pro Eurl YJ-Q d5-18", "SystemAddress":629388954035, "StarClass":"M" };

            const finishJumpData =
                { "timestamp":"2020-08-08T23:09:55Z", "event":"FSDJump", "StarSystem":"Pro Eurl YJ-Q d5-18", "SystemAddress":629388954035, "StarPos":[25.06250,13.53125,19.93750], "SystemAllegiance":"", "SystemEconomy":"$economy_None;", "SystemEconomy_Localised":"None", "SystemSecondEconomy":"$economy_None;", "SystemSecondEconomy_Localised":"None", "SystemGovernment":"$government_None;", "SystemGovernment_Localised":"None", "SystemSecurity":"$GAlAXY_MAP_INFO_state_anarchy;", "SystemSecurity_Localised":"Anarchy", "Population":0, "Body":"Core Sys Sector ON-T b3-5 A", "BodyID":2, "BodyType":"Star", "JumpDist":51.088, "FuelUsed":7.591439, "FuelLevel":24.408562 };

            function PostEntry(type, entryContent) {
                let wrap = {'data': {'type': type}};
                wrap.data = $.extend(true, {}, wrap.data, entryContent);
                postData(wrap);
            }

            function PostJournalEntry(entryContent) {
                PostEntry('JournalEntry', entryContent);
            }

            document.getElementById("simulate-startup").onclick = function fun() {
                PostJournalEntry(locationData);
            }

            document.getElementById("new-route-1").onclick = function fun() {
                postData({'data':{'type':'NewRoute'}});
                let data;
                for (data of exampleData)
                {
                    PostEntry('System', data);
                }

                PostJournalEntry(fsdTargetDataFirst);
            }

            document.getElementById("target-first").onclick = function fun() {
                PostJournalEntry(fsdTargetDataFirst);
            }

            document.getElementById("target-last").onclick = function fun() {
                PostJournalEntry(fsdTargetDataLast);
            }

            document.getElementById("start-jump").onclick = function fun() {
                PostJournalEntry(startJumpData);
            }

            document.getElementById("finish-jump").onclick = function fun() {
                PostJournalEntry(finishJumpData);
            }


            enableBackendConnections = false;

            /**/

            if (enableBackendConnections) {
                var socket = io()
                socket.on('log', postData)

                document.addEventListener('DOMContentLoaded', function() {
                    var url = 'http://'+window.location.hostname+':5001/GUI-is-still-open';
                    // var url = window.location.href+'GUI-is-still-open';
                    console.log(window.location)
                    fetch(url, { mode: 'no-cors'});
                    setInterval(function(){ fetch(url, { mode: 'no-cors'});}, 5000);
                });
            }

        })()
    </script>
</body>

</html>