<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ED Scout {{ version }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/style.css?{{ timestamp }}">
    <link rel="stylesheet" type="text/css" href="css-overrides/css-overrides.css?{{ timestamp }}">
    <link rel="stylesheet" type="text/css" href="static/icons/flaticon.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>
    <script src="static/EdScout.js?{{ timestamp }}"></script>


</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div id="new-version-alert-wrapper" class="alert alert-info alert-dismissible fade show" role="alert" hidden>
                  <span>New Version Available</span>: <strong id="version-link-wrapper"></strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row separator align-items-center">
            <div class="col"><hr class="separator"/></div>
            <div class="col-auto">Current Location</div>
            <div class="col"><hr class="separator"/></div>
        </div>
    </div>

    <div id="location-headings" class="container-fluid">
        <div class="row ml-1 mr-1 separator">
            <div class="col-3 text-center">Name</div>
            <div class="col">Type</div>
            <div class="col-auto text-center">Distance</div>
            <div class="col-1 text-center">Details</div>
            <div class="col-2 text-center">Mapped Value</div>
        </div>
    </div>

    <div id="location" data-currentSystem="" class="container-fluid">
        <div class="row ml-1 mr-1 align-items-center statusInfo">
            <div class="col system highlighted text-center">Unknown</div>
        </div>
    </div>

    <div id="high-value-scans" class="container-fluid">
        <div class="row ml-1 mr-1 align-items-center statusInfo">
        </div>
    </div>
    <div id="low-value-scans" class="container-fluid">
        <div class="row ml-1 mr-1 align-items-center statusInfo">
        </div>
    </div>

    {% if not disable_nav_route %}

    <div class="container-fluid">
        <div class="row separator align-items-center">
            <div class="col"><hr class="separator"/></div>
            <div class="col-auto" id="nav-route-label">Nav Route</div>
            <div class="col"><hr class="separator"/></div>
        </div>
    </div>

    <div id="navroute-headings" class="container-fluid">
        <div class="row ml-1 mr-1 separator">
            <div class="col-3 text-center">Name</div>
            <div class="col">Type</div>
            <div class="col-2 text-center">Mapped Value</div>
        </div>
    </div>

    <div id="target-sys" data-target-sys="" class="container-fluid d-none">

    </div>

    <div id="nav-route" class="container-fluid">
        <div class="row ml-1 mr-1">
            <div class="col system highlighted text-center">Waiting for nav data...</div>
        </div>
    </div>
    {% endif %}

    <div class="container-fluid">
        <div class="row separator align-items-center">
            <div class="col"><hr class="separator"/></div>
        </div>
    </div>
</body>

</html>
