<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Working with Flask and SocketIO</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <style>
        body {
            background-color:black;
            font: 20px Eurostile, sans-serif;
            text-transform: uppercase;
        }

        .system {
            margin-top: 2px;
            padding-left: 10px;
            text-shadow: 0px 0px 3px;
            margin-left: 2px;
        }
        .charted {
            color: #9f9f9f;
            background: #333333;
        }
        .uncharted {
            color: #EAA529;
            background: #370C03;
        }
        .highlighted {
            color: #370C03;
            background: #F5A804;
        }
    </style>
</head>

<body>

    <div class="container highlighted">
        <hr>
    </div>
    <div id="navroute" class="container">
        <!--
      <div class="row">
        <div class="col-1 system charted text-center">
          F
        </div>
        <div class="col  system charted">
          PRO EURL YJ-Q D5-18
        </div>
        <div class="col-auto system charted text-center">
          127197 CR
        </div>
      </div>
      <div class="row ">
        <div class="col-1 system uncharted text-center">
          K
        </div>
        <div class="col system uncharted">
          EURL DV-E C12-2
        </div>
      </div>
      -->
        <div class="row">
            <div class="col system highlighted text-center">Waiting for nav data...</div>
        </div>
    </div>
    <div class="container highlighted">
        <hr>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>
    <script>
        (function init() {
            var socket = io()
            var loggerElement = document.getElementById('navroute')

            function postData(payload) {
                console.log(payload);
                //console.log(payload.data.type);
                if (payload.data.type == 'NewRoute')
                {
                    console.log('Clearing')
                    loggerElement.innerHTML = ''
                }
                else
                {
                    var dataElement = document.createElement('div')
                    systemInfo = payload.data

                    row = '<div class="row">'

                    if (systemInfo.charted == true)
                    {
                        row += '<div class="col-1 system charted text-center">'+systemInfo.StarClass+'</div><div class="col system charted">'+systemInfo.StarSystem+'</div><div class="col-3 system charted text-center">'+systemInfo.estimatedValueMapped+'</div>'
                        console.log('CHARTED')
                    }
                    else
                    {
                        row += '<div class="col-1 system uncharted text-center">'+systemInfo.StarClass+'</div><div class="col system uncharted">'+systemInfo.StarSystem+'</div>'
                    }
                    row += '</div>'

                    dataElement.innerHTML = row

                    loggerElement.appendChild(dataElement)


                }
            }

            /**
            var exampleData = [
                {'data': {'type': 'System', 'StarSystem': 'Pro Eurl YJ-Q d5-18', 'SystemAddress': 629388954035, 'StarPos': [2035.6875, 381.59375, 739.6875], 'StarClass': 'F', 'id': 55108083, 'id64': 629388954035, 'name': 'Pro Eurl YJ-Q d5-18', 'url': 'https://www.edsm.net/en/system/bodies/id/55108083/name/Pro+Eurl+YJ-Q+d5-18', 'estimatedValue': 39863, 'estimatedValueMapped': 127197, 'valuableBodies': [], 'charted': true}},
                {'data': {'type': 'System', 'StarSystem': 'Pro Eurl DV-E c12-2', 'SystemAddress': 637098300266, 'StarPos': [2083.0, 374.71875, 748.09375], 'StarClass': 'K', 'charted': false}}]

            postData(exampleData[0])
            postData(exampleData[1])
            /**/

            socket.on('log', postData)



        })()
    </script>
</body>

</html>