    /*
    Flaticon icon font: Flaticon
    Creation date: 25/08/2020 15:05
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-lander:before { content: "\f100"; }
.flaticon-volcano:before { content: "\f101"; }
.flaticon-ingot:before { content: "\f102"; }
.flaticon-asteroids:before { content: "\f103"; }
.flaticon-eco-factory:before { content: "\f104"; }
.flaticon-planet:before { content: "\f105"; }
.flaticon-stars:before { content: "\f106"; }
.flaticon-earth:before { content: "\f107"; }
.flaticon-water-drop:before { content: "\f108"; }
.flaticon-snowflake:before { content: "\f109"; }
    
    $font-Flaticon-lander: "\f100";
    $font-Flaticon-volcano: "\f101";
    $font-Flaticon-ingot: "\f102";
    $font-Flaticon-asteroids: "\f103";
    $font-Flaticon-eco-factory: "\f104";
    $font-Flaticon-planet: "\f105";
    $font-Flaticon-stars: "\f106";
    $font-Flaticon-earth: "\f107";
    $font-Flaticon-water-drop: "\f108";
    $font-Flaticon-snowflake: "\f109";