    /*
    Flaticon icon font: Flaticon
    Creation date: 04/10/2020 20:48
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-lander:before { content: "\f100"; }
.flaticon-volcano:before { content: "\f101"; }
.flaticon-cooling-tower:before { content: "\f102"; }
.flaticon-cooling-tower-1:before { content: "\f103"; }
.flaticon-volcano-1:before { content: "\f104"; }
.flaticon-flag-outline-on-a-pole-with-stars-around:before { content: "\f105"; }
.flaticon-saturn:before { content: "\f106"; }
.flaticon-earth:before { content: "\f107"; }
.flaticon-planet:before { content: "\f108"; }
.flaticon-planet-1:before { content: "\f109"; }
.flaticon-globe:before { content: "\f10a"; }
.flaticon-jupiter:before { content: "\f10b"; }
.flaticon-venus:before { content: "\f10c"; }
.flaticon-moon:before { content: "\f10d"; }
.flaticon-astronomy:before { content: "\f10e"; }
.flaticon-asteroid:before { content: "\f10f"; }
.flaticon-asteroid-1:before { content: "\f110"; }
.flaticon-ingot:before { content: "\f111"; }
.flaticon-snowflake:before { content: "\f112"; }
.flaticon-star:before { content: "\f113"; }
.flaticon-solar-system:before { content: "\f114"; }
.flaticon-asteroid-2:before { content: "\f115"; }
.flaticon-water:before { content: "\f116"; }
.flaticon-water-drops:before { content: "\f117"; }
.flaticon-asteroid-3:before { content: "\f118"; }
.flaticon-asteroid-4:before { content: "\f119"; }
.flaticon-jupiter-1:before { content: "\f11a"; }
.flaticon-jupiter-2:before { content: "\f11b"; }
.flaticon-jupiter-3:before { content: "\f11c"; }
.flaticon-pickaxe:before { content: "\f11d"; }
.flaticon-curved-line:before { content: "\f11e"; }
.flaticon-bacteria:before { content: "\f11f"; }
.flaticon-dna:before { content: "\f120"; }
.flaticon-ingot-1:before { content: "\f121"; }
.flaticon-gold-bars:before { content: "\f122"; }
    
    $font-Flaticon-lander: "\f100";
    $font-Flaticon-volcano: "\f101";
    $font-Flaticon-cooling-tower: "\f102";
    $font-Flaticon-cooling-tower-1: "\f103";
    $font-Flaticon-volcano-1: "\f104";
    $font-Flaticon-flag-outline-on-a-pole-with-stars-around: "\f105";
    $font-Flaticon-saturn: "\f106";
    $font-Flaticon-earth: "\f107";
    $font-Flaticon-planet: "\f108";
    $font-Flaticon-planet-1: "\f109";
    $font-Flaticon-globe: "\f10a";
    $font-Flaticon-jupiter: "\f10b";
    $font-Flaticon-venus: "\f10c";
    $font-Flaticon-moon: "\f10d";
    $font-Flaticon-astronomy: "\f10e";
    $font-Flaticon-asteroid: "\f10f";
    $font-Flaticon-asteroid-1: "\f110";
    $font-Flaticon-ingot: "\f111";
    $font-Flaticon-snowflake: "\f112";
    $font-Flaticon-star: "\f113";
    $font-Flaticon-solar-system: "\f114";
    $font-Flaticon-asteroid-2: "\f115";
    $font-Flaticon-water: "\f116";
    $font-Flaticon-water-drops: "\f117";
    $font-Flaticon-asteroid-3: "\f118";
    $font-Flaticon-asteroid-4: "\f119";
    $font-Flaticon-jupiter-1: "\f11a";
    $font-Flaticon-jupiter-2: "\f11b";
    $font-Flaticon-jupiter-3: "\f11c";
    $font-Flaticon-pickaxe: "\f11d";
    $font-Flaticon-curved-line: "\f11e";
    $font-Flaticon-bacteria: "\f11f";
    $font-Flaticon-dna: "\f120";
    $font-Flaticon-ingot-1: "\f121";
    $font-Flaticon-gold-bars: "\f122";