	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/10/2020 00:54
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    /*
    font-size: 20px;
    font-style: normal;
    */
    margin-left: 20px;
    text-shadow: 0 0 0;
}

.flaticon-lander:before { content: "\f100"; }
.flaticon-volcano:before { content: "\f101"; }
.flaticon-cooling-tower:before { content: "\f102"; }
.flaticon-cooling-tower-1:before { content: "\f103"; }
.flaticon-volcano-1:before { content: "\f104"; }
.flaticon-flag-outline-on-a-pole-with-stars-around:before { content: "\f105"; }
.flaticon-saturn:before { content: "\f106"; }
.flaticon-earth:before { content: "\f107"; }
.flaticon-planet:before { content: "\f108"; }
.flaticon-planet-1:before { content: "\f109"; }
.flaticon-globe:before { content: "\f10a"; }
.flaticon-jupiter:before { content: "\f10b"; }
.flaticon-venus:before { content: "\f10c"; }
.flaticon-moon:before { content: "\f10d"; }
.flaticon-astronomy:before { content: "\f10e"; }
.flaticon-asteroid:before { content: "\f10f"; }
.flaticon-asteroid-1:before { content: "\f110"; }
.flaticon-ingot:before { content: "\f111"; }
.flaticon-snowflake:before { content: "\f112"; }
.flaticon-star:before { content: "\f113"; }
.flaticon-solar-system:before { content: "\f114"; }
.flaticon-asteroid-2:before { content: "\f115"; }
.flaticon-water:before { content: "\f116"; }
.flaticon-water-drops:before { content: "\f117"; }
.flaticon-asteroid-3:before { content: "\f118"; }
.flaticon-asteroid-4:before { content: "\f119"; }
.flaticon-jupiter-1:before { content: "\f11a"; }
.flaticon-jupiter-2:before { content: "\f11b"; }
.flaticon-jupiter-3:before { content: "\f11c"; }
.flaticon-pickaxe:before { content: "\f11d"; }
.flaticon-gold-ingots:before { content: "\f11e"; }
.flaticon-curved-line:before { content: "\f11f"; }
.flaticon-bacteria:before { content: "\f120"; }
.flaticon-dna:before { content: "\f121"; }
.flaticon-ingot-1:before { content: "\f122"; }

.flaticon-ring-metal:before { content: "\f111"; }